body {
    font-family: Arial, sans-serif;
    background-color: #b4faff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 1000px;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message {
    font-size: 50px;
    font-weight: bold;
}

h1 {
    color: #FF4500;
    font-size: 50px;
}

p {
    color: #333;
    font-size: 18px;
}

a:hover {
    color: #FF4500;
    text-decoration: none;
}